/*----------Переменные для сайта----------*/
:root {
    /*-----Глобальные цвета-----*/
    --body-color: #757575;
    --a-color: #212121;
    /*-----Цвета для логотипа-----*/
    --logo-color: #000000;
    --logo-decor-color: #2196F3;
    /*-----Цвета для ссылок-----*/
    --menu-item-hover-focus-color: #2196F3;
    --email-tel-nav-color: #757575;
    --email-tel-nav-hover-focus-color: #2196F3;
    --email-tel-footer-color: #ffffff;
    /*-----index.html. Section Hero-----*/
    --hero-title-color: #ffffff;
    --hero-button-bg-color: #2196F3;
    --hero-button-text-color: #FFFFFF;
    /*-----index.html. Section Advantages-----*/
    --title-advantages-color: #212121;
    --content-advantages-color: #757575;
    /*-----index.html. Section Services-----*/
    --title-services-color: #212121;
    /*-----index.html. Section Team-----*/
    --team-title-color: #212121;
    --team-name-color: #212121;
    --team-position-color: #757575;
    /*-----portfolio.html. Section Filter-----*/
    --filter-btn-color: #212121;
    --filter-btn-bg-color: #F5F4FA;
    --filter-btn-bg-hover-focus-color: #2196F3;
    --filter-btn-text-chover-focus-color: #FFFFFF;
    /*-----portfolio.html. Section Cards-----*/
    --cards-item-title-color: #212121;
    --cards-item-type-color: #757575;
}
/*----------Стандартные свойства для сайта----------*/
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.71;
    color: var(--body-color);
    margin: 0;
}

.link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: var(--a-color);
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    margin-bottom: 94px;
}

.lists {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}
.img {
    display: block;
}

/*----------Стили для логотипа. Шапка/Подвал сайта----------*/
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    margin-right: 93px;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.header-logo-decor,
.footer-logo-decor {
    color: var(--logo-decor-color);
}
.footer-logo-decor-studio {
    color: #FFFFFF;
}
/*----------Оформление ссылок. Шапка/Подвал сайта----------*/
/*HEADER*/
.header-logo {
    margin-top: 24px;
    margin-bottom: 24px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation > .menu-list {
    display: flex;
}

.nav-menu-item {
    margin-right: 50px;
}

.navigation .nav-menu-item:last-child {
    margin-right: 0;
}

.header-nav > .lists {
    display: flex;
}

.nav-email {
    margin-right: 50px;
}

.menu-item {
    font-weight: 500;
}
.menu-item:hover,
.menu-item:focus {
    color: var(--menu-item-hover-focus-color);
}
.email-nav,
.tel-nav {
    color: var(--email-tel-nav-color);
    font-weight: 500;
}
.email-nav:hover,
.email-nav:focus,
.tel-nav:hover,
.tel-nav:focus {
    color: var(--email-tel-nav-hover-focus-color);
}

/*FOOTER*/

.footer-content {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    display: block;
    margin-bottom: 20px;
}
.address {
    color: var(--email-tel-footer-color);
    letter-spacing: 0.03em;
    font-style: normal;
}
.address-list-item {
    margin-bottom: 9px;
}
.address-list-item:last-child {
    margin-bottom: 0;
    
}
.email-footer,
.tel-footer {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    font-style: normal;
}

.footer {
    background-color: #2F303A;

}

/*----------Страница index.html. Main. Section "HERO"----------*/
.hero {
    background-color: #2F303A;
}

.hero-content {
    text-align: center;
    padding-bottom: 205px;
    padding-top: 200px;
    padding-left: 298px;
    padding-right: 298px;
    
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    
    margin-bottom: 30px;
}

.hero-button {
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    background-color: var(--hero-button-bg-color);
    color: var(--hero-button-text-color);
    border: none;
    cursor: pointer;
}
/*----------Страница index.html. Main. Section "advantages"----------*/
.advantages-content {
    margin-bottom: 94px;
}

.list-advantages {
    display: flex;
}

.item-advantages {
    width: 270px;
    margin-right: 30px;
}

.item-advantages:last-child {
    margin-right: 0;
}

.title-advantages {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-advantages-color);
    margin-bottom: 10px;
}
.content-advantages {
    letter-spacing: 0.03em;
    color: var(--content-advantages-color);
    font-size: 14px;
}
/*----------Страница index.html. Main. Section "services"----------*/
.title-services {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-services-color);
    margin-bottom: 50px;
}
.services-list {
    display: flex;

}

.services-item {
    margin-right: 30px;
}

.services-item:last-child {
    margin-right: 0;
}

/*----------Страница index.html. Main. Section "team"----------*/
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--team-title-color);
}
.team-item .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--team-name-color);
}
.team-item .team-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--team-position-color);
}
/*----------Страница portfolio.html. Main. filter----------*/
.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--filter-btn-color);
    border: none;
    background-color: var(--filter-btn-bg-color);
    padding: 6px 22px;
    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--filter-btn-bg-hover-focus-color);
    color: var(--filter-btn-text-chover-focus-color);
}
/*----------Страница portfolio.html. Main. cards----------*/
.cards-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--cards-item-title-color);
}
.cards-item-type {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--cards-item-type-color);
}